<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
<%- include ../partials/header %>
<div id="main">
    <h3 class="title">Welcome to Burg-O-Rama</h3>
    <p>View a list of our delicious burger styles, or make your own!</p>
</div>
</body>
</html>
