/* Document Styles */
body {
  font-size: 16px;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Styles */
header {
  background-color: #000;
  color: #fff;
  padding: 2em 0 1em 0;
  margin-bottom: 4em;
}

header h1 {
  text-align: center;
  padding-bottom: 0.5em;
}

nav {
  min-width: 696px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 2em;
}

#main {
  padding: 0 2em;
}

/* Flexbox styles */
.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1em;
  padding: 0.75em;
  border: 2px solid #ddd;
  border-radius: 5%;
}

.card h3 {
  text-align: center;
}

.card ul {
  list-style: none;
}

.card .show-button {
  display: block;
  margin: inherit auto;
}

.card form {
  margin-bottom: 0;
}

form .button {
  color: #fff;
}

form .danger-button {
  background-color: #f00;
}

form .edit-button {
  background-color: #00f;
}

.form-group {
  display: inline-block;
  margin: 0.5em;
}
