<header>
  <div class="container">
    <h1>Burg-O-Rama</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/burgers">List Burgers</a>
        </li>
        <li>
          <a href="/burgers/new">Add a new burger</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
